.movieCard {
    width: 18rem;
    box-shadow: 0 0 7px;
    height: 45rem;
}
.MovieImg {
    height: 50%;
}

.MovieBody {
    background-color: rgb(40, 69, 107);
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
}
.MovieBtn {
    display: flex;
    justify-content: space-between;
}
